* {
    box-sizing: border-box;
}

/* HEADER */

.header {
    display: flex;
    background-color: #43b1d2;
    width: 100%;
    padding: 35px 0 25px 0;
}
.header__wrap {
    display: inline-flex;
    max-width: 1410px;
    width: 100%;
    margin: 0 auto;
}

/*header logo*/

.header__logo {
    display: inline-flex;
    color: #fff;
    width: 400px;
    align-items: center;
}
.header__logo--name {
    margin: 0 25px;
    font-family: Calibri, sans-serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 30px;
    text-shadow: 0 6px 20px #272727;
}


/* header nav*/

.navigator {
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.navigator__tel--number {
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 24px;
    margin: 0 15px;
}

.navigator__menu, .navigator__tel {
    justify-content: flex-end;
}
.navigator__menu--screen{
    display: none;
}
.logo__tel {
    display: inline-flex;
    padding: 5px 4px;
}
.navigator__tel{
    display: flex;
    text-align: right;
}
.navigator__menu{
    display: flex;
}


.navigator__menu--list{
    display: flex;
    margin: auto 0;
}

.navigator__list {
    list-style-type: none;
}


.navigator__text {
    color: #494848;
    font-family: Calibri, sans-serif;
    font-weight: 400;
    transition: .6s;
    font-size: 24px;
    text-decoration: none;
    letter-spacing: 2px;
    margin: 0 15px;
}
.navigator__text:hover {
    color: #fff;
    text-decoration: none;
    transition: .6s;
}


/* BODY */

/*   Banner  */

.banner {
    background-color: #cbd4e6;
    width: 100%;
    display: flex;
}
.banner__wrap {
    background: url("../../images/doctor.png");
    width: 1440px;
    height: 515px;
    margin: auto;
    padding: 0 15px;
}
.banner__info{
    display: flex;
    flex-direction: column;
    padding: 110px 0 0;
}
.banner__article--text {
    font-family: Calibri, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #494848;
    text-align: right;
    margin: auto 0;
    letter-spacing: 2px;
    line-height: 30px;
}
.banner__text--phone {
    font-family: Calibri, sans-serif;
    font-weight: 700;
    font-size: 36px;
    font-style: normal;
    color: #494848;
    text-align: right;
    letter-spacing: 2px;
    margin: 50px 0px 45px;
    line-height: 35px;
}
.banner--form {
    display: flex;
    justify-content: flex-end;
}
.form__input {
    width: 230px;
    height: 36px;
    color: #494848;
    border-radius: 5px 0 0 5px;
}
.form__button {
    width: 100px;
    height: 36px;
    background-color: #cbd4e6;
    border: 1px solid #494848;
    color: #494848;
    border-radius: 0 5px 5px 0;
}


/* SERVICE INFO */

#service {
    display: flex;
    width: 100%;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
}
.service__block {
    padding: 68px 55px 55px 55px;
}
.service__img {
    margin: 0 auto;
    display: block;
    padding: 0 0 15px 0;
}
.first-block {
    background-color: #43b1d2;
}
.second-block{
    background-color: #3fb6c6;
}
.third-block{
    background-color: #3cbbbb;
}
.fourth-block {
    background-color: #37c3a8;
}
.block__title {
    color: #fff;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
}
.block__text {
    color: #fff;
    font-family: Calibri, sans-serif;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
}